<IfModule mod_mime.c>
  AddType application/wasm .wasm
  AddType application/javascript .js
</IfModule>

<IfModule mod_headers.c>
  Header set Cross-Origin-Opener-Policy "same-origin-allow-popups"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /sistema/

  # Preservar el encabezado Authorization para PHP
  RewriteCond %{HTTP:Authorization} ^(.*)
  RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /sistema/index.html [L]
</IfModule>
